body {
  font-family: "IBM Plex Sans", "sans-serif";
  background-color: #e4e4e4;
}
.sidenav {
  height: 100%;
  width: 10em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3797a4;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #e4e4e4;
  display: block;
}

.sidenav a:hover {
  color: #fcf876;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  background-color: #e4e4e4;
}

.pageHeader {
  text-align: center;
  display:block;
  margin:auto;
  padding: 1em;
}

.coverImg {
  width: 50%;
  text-align: center;
  display:block;
  margin:auto;
}

.container-fluid {
  background-color: #e4e4e4;
}

footer {
  font-size: small;
  margin-left: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
